/*
 * File: home-page.css
 * Project: PHPDI
 * File Created: Saturday, 8th June 2019 3:00:03 pm
 * Author: Ivan Grigorov
 * Contact:  ivangrigorov9 at gmail.com
 * -----
 * Last Modified: Friday, 28th June 2019 9:33:07 pm
 * Modified By: Ivan Grigorov
 * -----
 * License: MIT
 */

.new-spending-item {
    margin-top: 2%;
    text-align: center;
    font-size: 18em;
}

.notification-info {
    padding: 25px;
}