/*
 * File: home-page.css
 * Project: PHPDI
 * File Created: Saturday, 8th June 2019 3:00:03 pm
 * Author: Ivan Grigorov
 * Contact:  ivangrigorov9 at gmail.com
 * -----
 * Last Modified: Thursday, 13th June 2019 10:09:47 pm
 * Modified By: Ivan Grigorov
 * -----
 * License: MIT
 */

.new-spending-item {
    padding: 30px;
    text-align: center;
    font-size: 18em;
}