/*
 * File: home-page.css
 * Project: PHPDI
 * File Created: Saturday, 8th June 2019 3:00:03 pm
 * Author: Ivan Grigorov
 * Contact:  ivangrigorov9 at gmail.com
 * -----
 * Last Modified: Friday, 21st June 2019 11:35:39 pm
 * Modified By: Ivan Grigorov
 * -----
 * License: MIT
 */

.new-spending-item {
    text-align: center;
    font-size: 18em;
}

.switch * {
    float: left;
}