/*
 * File: home-page.css
 * Project: PHPDI
 * File Created: Saturday, 8th June 2019 3:00:03 pm
 * Author: Ivan Grigorov
 * Contact:  ivangrigorov9 at gmail.com
 * -----
 * Last Modified: Saturday, 29th June 2019 12:33:06 pm
 * Modified By: Ivan Grigorov
 * -----
 * License: MIT
 */

.home-option {
    padding: 10%;
    border-radius: 100px;

}

.img-menu {
    margin: 2%;
}

.home-button-label {
    margin-top: 2%;
    text-align: center;
    font-size: 20em;
    color: #7546FE;
}